In [3]:
import sys
import pandas as pd
import numpy as np
import pyodbc
import logging
import matplotlib

logging.basicConfig(filename='logs',level=logging.DEBUG,
                    format='%(asctime)s:%(levelname)s:%(message)s')

#Funtion to get the data from sql and saving it as csv. Reading 100mb from Sql takes longer time for each code exection I prefered to save it as csv to run the code faster for my outputs.
def get_csv_sql(connection_string,query,out_filename):
    '''
    Example of geting csv file from DB
    connection_string = r'DRIVER={SQL Server};SERVER=hostnmae;DATABASE=DBnmae;UID=usename;PWD=pasword'--> your connection sting 
    query = 'select * from INC_ZSOBOOK where RID=(select max(RID) from INC_ZSOBOOK)'-->you query from sqlserver
    # out_filename = 'testcsv'-->desired output filename 
    get_csv_sql(connection_string,query,out_filename)
    '''
    try:
        
        connection = pyodbc.connect(connection_string)
        logging.debug('connection to sql server is successful')

    except pyodbc.InterfaceError as err:

        logging.error('''connection to sql server failed: check the connection srting:''')
        logging.error(connection_string)
        logging.error(err)
 
    SQL_data = pd.read_sql(query,connection)
    return SQL_data.to_csv(('{}.csv'.format(out_filename)), encoding='utf-8', index=False)

#Reading csv file 
RAW_DF = pd.read_csv('sobook.csv', index_col=0)
RAW_DF.head()

#blablablabab

,RID,Sold2P,Sold2PName,Ship2P,Ship2PName,SGrp,SO,SODocDate,Division,Material,...,OriginQty,DispQty,PendingQty,AvailPallets,AvailSOStock,ToMfgQty,HoldQty,CostingStat,Remarks,SOType
0,2.020010e+13,1002231.0,Avon Operations Polska Sp. z o.o.,1002231.0,Avon Operations Polska Sp. z o.o.,ZPS,30274146.0,03.04.2019,20.0,1058317.0,...,28728.0,27972.0,756.0,0.0,0.000,756.000,0.0,96.0,1ST PROMISED DATE,ZOP1
1,2.020010e+13,1001543.0,Tetrosyl Ltd,1001543.0,Tetrosyl Ltd,ZRB,30274624.0,09.04.2019,20.0,1065363.0,...,16128.0,7776.0,8352.0,0.0,0.000,8352.000,0.0,96.0,1ST PROMISED DT.,ZOP2
2,2.020010e+13,1005364.0,Unilever Europe BV,1001755.0,Unilever HPCI,ZKL,30275322.0,17.04.2019,30.0,2109509.0,...,145.0,0.0,145.0,0.0,50.823,94.177,0.0,0.0,NaN,ZOP2
3,2.020010e+13,2000037.0,ESSEL Deutschland GmbH & Co. KG,1006383.0,Außenlager Essel Dtl – RHB,ZCR,30275494.0,19.04.2019,10.0,1074173.0,...,56000.0,49320.0,6680.0,0.0,0.000,6680.000,0.0,96.0,NaN,ZOP2
4,2.020010e+13,1001543.0,Tetrosyl Ltd,1001543.0,Tetrosyl Ltd,ZRB,30275897.0,24.04.2019,20.0,1065363.0,...,10080.0,0.0,10080.0,0.0,0.000,10080.000,0.0,96.0,1ST PROMISED DT.,ZOP2